@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-bg text-gray-100;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 9999px;
}
